@model TblUser
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post">
    <div>
        <div>
            <h2>
                Create User
            </h2>
            <hr />
        </div>
    </div>
</form>